*.py[cod]
\.idea/
*.DS_Store

Training_Grounds\.egg-info/

environment\.env

data-cache/

\.ipynb_checkpoints/

projects/cdc/catboost_info/
catboost_info/
release/

temp/

*~
.venv
env.rc

.coverage

tools_private/coverage/

.vscode/
