numpy
pandas
scikit-learn
statsmodels
yo_fluq_ds
fastparquet
pyarrow
sagemaker
python-dotenv
coverage
simplejson
sqlalchemy<2.0

boto3
s3fs
psycopg2-binary

torch==1.9.1
catboost==0.26.1

presto-python-client
flask
flask_healthcheck
elastic-apm