numpy
pandas
scikit-learn
statsmodels
yo_fluq_ds
fastparquet
pyarrow
boto3
sagemaker
python-dotenv
coverage

torch
catboost

psycopg2-binary
presto-python-client
sqlalchemy
simplejson
flask
flask_healthcheck
elastic-apm